/* style format */
.cookIN {
    padding: 0;
    overflow: hidden;
    position: relative;
}

.cookIN > li  {
    list-style: none;
    position: relative;
}

.cookIN > .l:before {

    position: absolute;
    content: "";
    border-bottom: 2px dotted #d0d0ce;
    right: -1500px;
    bottom: 2px;
    width: 1500px;
}

.cookIN > .r {
    float: right;
    background: #fff;
    padding-left: 5px;
    position: relative;
}

.titCoo {
    font-size: 26px;
    color: #252525;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    clear: both;
}

.titCooR {
    font-size: 26px;
    color: #252525;
    font-weight: 600;
    width: 100%;
    clear: both;
    position: relative;
}

.titCooR:before {
    content: "";
    width: 400px;
    border-bottom: solid 2px #bc1e2a;
    position: absolute;
    top: 40px;
}

ol.red-d {
    list-style: none;
    counter-reset: point;
    padding: 0;
}
ol.red-d li {
    margin-bottom: 15px;
    padding-left: 50px;
    position: relative;
    color: #252525;
    font-size: 24px;
    padding-top: 3px;
}
ol.red-d li:before {
    content: counter(point);
    counter-increment: point 1;
    position: absolute;
    left: 0;
    top: 6px;
    background: #bc1e2a;
    width: 30px;
    height: 30px;
    padding: 3px 0;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
}
/* style format */