/* cyrillic-ext */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(/css/fonts/PTSans/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(/css/fonts/PTSans/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(/css/fonts/PTSans/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(/css/fonts/PTSans/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(/css/fonts/PTSans/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(/css/fonts/PTSans/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(/css/fonts/PTSans/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(/css/fonts/PTSans/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(/css/fonts/PTSans/lILlYDvubYemzYzN7GbLkK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(/css/fonts/PTSans/lILlYDvubYemzYzN7GbLkJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(/css/fonts/PTSans/lILlYDvubYemzYzN7GbLkD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(/css/fonts/PTSans/lILlYDvubYemzYzN7GbLkOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

head, body {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #262626;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}


.radb15 {
    border-radius: 15px;
}
.radb20 {
    border-radius: 20px;
}

.clear {
    clear: both;
    width: 100%;
}

.navbar-brand {
    height: inherit;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-nav > li > a {
    padding-top: 44px;
    padding-bottom: 43px;
}

.navbar-default .navbar-nav > li > a {
    color: #010101;
    text-transform: uppercase;
}

.navbar-center {
    display: table;
    margin: 0 auto;
    float: inherit;
}

.navbar {
    margin-bottom: 0px;
    box-shadow: 0 0 4px #4A4A4A;
}

.nav > li > a {
    padding: 43px 20px;
}

.dropdown-menu > li > a {
    text-transform: uppercase;
    padding: 6px 20px;
}

.topL {
    width: 100%;
    text-align: right;
}

.topL > .t {
    width: 100%;
    color: #010101;
    font-size: 24px;
    padding-top: 15px;
    font-weight: 600;
}

.topL > .b {
    width: 100%;
}



.btp-callback, .btp-callback:focus {
    background: #a1232e;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.btp-callback:hover {
    color: #fff;
    background: #911f2a;
}

.color-red {
    color: #a1232e!important;
    background: #fff!important;
    border: solid 3px #a1232e!important;
}

.color-red:hover {
    background: #f0f0f0 !important;
}

.color-red:active {
    color: #fff!important;
    background: #252525!important;
}

.btn-main, .btn-main:focus {
    background: none;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    border: solid 3px #fff;
    border-radius: 0;
}

.btn-main:hover {
    color: #fff;
    background: #911f2a;
}

.btn-main:active {
    color: #fff;
    background: #252525;
}

/* header */
.header {
    height: 840px;
    width: 100%;
    background-image: url("/images/site/img_1.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.block-htT {
    background: #252525;
    position: absolute;
    left: 0;
    width: 50%;
    height: 170px;
    top: 300px;

}
.block-ht {
    position: relative;
    color: #fff;
    top: 300px;
}

.block-ht > .t {
    width: 50%;
    padding: 10px 30px 10px 0px;
    text-align: right;
}

.block-ht > .b {
    margin-top: 15px;
    margin-left: 15px;
}

.block-ht > .t > .t {
    font-size: 42px;
    text-transform: uppercase;
}
.block-ht > .t > .b {
    font-size: 63px;
    font-weight: 600;
    text-transform: uppercase;
}

.block-ht > .b > div {
    background: #fff;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    float: left;
    margin-right: 25px;
    cursor: pointer;
    position: relative;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.block-ht > .b > div:hover {
    background: #a1232e;
}

.block-ht > .b > div > .t {
    background-image: url("/images/site/ic/block-ht.png");
    background-repeat: no-repeat;
    width: 55px;
    height: 48px;
    margin: 17px 0px 0px 10px;
    position: relative;

}

.block-ht > .b > div:hover .hsh{
    display: block!important;
}

.block-ht > .b > div > .b {
    position: absolute;
    text-transform: uppercase;
    background: #a1232e;
    border-radius: 3px;
    left: -14px;
    width: 95px;
    padding: 3px 3px;
    margin-top: 10px;
    display: none;
    font-size: 14px;
    text-align: center;
}

.block-ht > .b > div > .b::after {
    content: '';
    border: 10px solid transparent;
    border-bottom: 10px solid #a1232e;
    color: #fff;
    position: absolute;
    top: -16px;
    left: 36px;
}

.block-ht > .b > .g > .t {
    background-position: 0px 0px;
}

.block-ht > .b > .g > .t:hover {
    background-position: 1px -64px;
}

.block-ht > .b > .s > .t {
    background-position: -97px 0px;
}

.block-ht > .b > .s > .t:hover {
    background-position: -95px -64px;
}

.block-ht > .b > .b > .t {
    background-position:-194px 0px;
}

.block-ht > .b > .b > .t:hover {
    background-position:-193px -64px;
}

.block-ht > .b > .k > .t {
    background-position: -292px 0px;
}

.block-ht > .b > .k > .t:hover {
    background-position: -291px -64px;
}
/* header */

/* main block */
.titB {
    color: #252525;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.titF {
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.text-mainB {
    color: #252525;
    /*font-size: 24px;*/
    padding-top: 80px;
    padding-bottom: 80px;

    font-size: 20px;
    text-align: justify;
}

.mainB {
    background-image: url("/images/site/fon_02.jpg");
    background-repeat: no-repeat;
    background-position: right -1px center;
}
.mainR {
    color: #fff;
    font-size: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #a1232e;
}

.text-mainR {
    color: #fff;
    font-size: 24px;
}

.mainIm {
    background-image: url("/images/site/fon-4-block.png");
    background-position: center;
    background-size: cover;
    color: #fff;
}

.carousel-inner > div {
    position: relative;
    /*height: 300px;*/
    font-size: 20px;
    text-align: left;
}

.carousel-indicators {
    bottom: 0px!important;
}
.carousel-indicators .active {
    width: 18px;
    height: 18px;
}

.carousel-indicators li {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0px;
    border: 3px solid #fff;
    border-radius: 18px;
}

.nameM {
    font-size: 38px;
    font-weight: 600;
    padding: 5px 15px;
    background: #252525;
    color: #fff;
    display: table;
}

.mainImD > div {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.mainImD > div > .t {
    font-weight: 600;
}

.mainImD > div > .b {
    text-transform: lowercase;
}

.mainImD .r {
    margin-top: 34px;
}

.mainBT {
    padding-top: 80px;
    padding-bottom: 80px;
}

.mainBT > .t {
    color: #252525;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}

.titAll {
    font-size: 24px;
    font-weight: 600;
    color: #252525;
}
/*////*/
.progress-main {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}
.progress-main > div {
    max-width: 320px;
}

.progress-main > div > .r {
    width: 170px;
    display: inline-table;
    float: right;
    margin-top: 18px;

}

.progress-main > div > .l {
    width: 150px;
    display: inline-table;
    float: left;
    font-weight: 600;
    font-size: 24px;
}

.progress {
    height: 10px;
    margin-bottom: 0px;
    box-shadow: none;
    background-color: #d0d0ce;
}

.progress-bar {
    box-shadow: none;
}

.rating-main {
    font-weight: 600;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    color: #fff;
    background: #252525;
    text-align: center;
    float: right;
}

.rating-main > div {
    padding: 50px;
}

.rating-main > div > .t {
    font-size: 138px;
    line-height: 138px;

}

.rating-main > div > .b {
    font-size: 48px;
    line-height: 48px;
}

.text-main {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}
/* main block */
/* footer */
.footer {
    background: #252525;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 600;
}

.footM > .t {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footM > .t {
    font-size: 22px;
}

.footM > .b > div {
    width: 34px;
    height: 34px;
    margin-left: 20px;
    background-image: url("/images/site/ic/ic-soc.png");
    background-repeat: no-repeat;
    display: inline-table;
    cursor: pointer;
}

.footM > .b > div:hover {
    opacity: .8;
}

.footM > .b > div.in {
    background-position: 3px 3px;
}

.footM > .b > div.ok {
    background-position: -59px 3px;
}

.footM > .b > div.fb {
    background-position: -114px 3px;
}

.footM > .b > div.vk {
    background-position: -180px 3px;
}

.footM > .b > div.tw > img {
    margin-top: -24px;
    margin-right: 2px;
}
.footM > .b > div.tw {
    background: none;
}
/* footer */

/*catalog */
.conASel > .r{
    border-left: solid 1px #dfdfdf;
    min-height: 725px;
}
.conLSel {
    margin-bottom: 20px;
    color: #151515;
    line-height: 27px;
}
.conLSel > .tit {
    font-size: 16px;
    font-weight: 600;
}

.conLSel > .b {
    font-size: 14px;
    cursor: pointer;
}

.conLSel > .b > label {
    font-size: 14px;
    font-weight: normal;
    padding-right: 30px;
}
.conLSel > .b > div.active {
    font-weight: 600;
    color: #a1232e;
}

.conLSel > .b > div:hover {
    color: #a1232e;
}

.breadcrumb {
    background: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

.breadcrumb > .active {
    color: #9f9f9f;
}

.breadcrumb a, .breadcrumb li {
    color: #9f9f9f;
    font-size: 14px;
}

.conRSel > .tit {
    font-size: 24px;
    font-weight: 600;
    color: #212121;
    text-transform: uppercase;
    margin-top: 70px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.conRSel > .b {
    font-size: 16px;
    color: #212121;
    padding-left: 10px;
}

.selReN {
    font-size: 18px;
    color: #212121;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.selReN > span {
    color: #4d4d4d;
}

.filterGroup > div {
    font-size: 16px;
    float: left;
    padding-right: 30px;
    padding-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.hrSel {
    margin-top: 20px;
    margin-bottom: 10px;
    border-color: #cfcfcf;
}
.filterGroup > div:hover {
    color: #a1232e;
}

.filterGroup > div.active {
    font-weight: 600;
    color: #a1232e;
}

.searchSel {
    width: 150px;
    float: right;

}

.searchSel > span > button {
    border-color: #212121;
    border-radius: 0;
    border-left: 0;
}
.searchSel > span > button:hover {
    background: none;
    border-left: 0;
    border-color: #212121;
}
.searchSel > input {
    border-color: #212121!important;
    border-radius: 0;
    box-shadow: none!important;
}
/*catalog */
/* cart */
.btn-red, .btn-red:focus {
    font-size: 14px;
    background: none;
    color: #a1232e;
    border-color: #a1232e;
    border-radius: 5px;
    text-transform: uppercase;
}

.cart2 {
    cursor: pointer;
}

.cart2:hover {
    opacity: .8;
}

.btn-red:hover {
    font-size: 14px;
    background: #911f2a;
    border-color: #911f2a;
    border-radius: 5px;
    color: #fff;
}

.btn-red:active {
    font-size: 14px;
    background: #a1232e;
    color: #fff;
    border-color: #a1232e;
    border-radius: 5px;
}


.cart {
    position: relative;
    border: none;
    display: table;
    margin: 0 auto;
}
.cart > .rat{
    background: #22a100;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    left: -10px;
    top: 15px;
    width: 70px;
}

.cart > .caption .tim {
    color: #919090;
    margin-top: 5px;
    font-size: 14px;
}
.cart > .caption > p {
    font-size: 15px;
    font-weight: 600;
    color: #212121;
    height: 40px;
}
.cart > .img {
    background-color: #e0dede;
    background-image: url("/images/site/council/council_min.png");
    background-position: center;
    background-size: cover;
    height: 170px;
    max-width: 250px;
    min-width: 250px;
    margin: 0 auto;
}
/* cart */

/* recipe*/
.reviewStars-input input:checked ~ label,
.reviewStars-input label,
.reviewStars-input label:hover,
.reviewStars-input label:hover ~ label {
    background: #cdcdcd;
}

.reviewStars-input {
    *zoom: 1;
    position: relative;
    float: left;
}

.star-1 {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.star-10 {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 36px;
    height: 10px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.reviewStars-input input:checked ~ label {
    background: #22a100;
    height: 10px;
    width: 36px;
}

.reviewStars-input label {
    background-position: 0 0;
    height: 10px;
    width: 36px;
    float: right;
    cursor: pointer;
    margin-right: 2px;
    position: relative;
    z-index: 1;
}

.reviewStars-input label:hover, .reviewStars-input label:hover ~ label {
    background: #22a100;
    height: 10px;
    width: 36px;
}

.reviewStars > .active {
    background: #22a100;
}

.titRev {
    margin-top: 30px;
    color: #fff;
    font-size: 25px;
}

.typeText {
    margin-top: 20px;
    margin-bottom: 20px;
}

.typeText > div {
    display: table;
    float: left;

    margin-right: 20px;
    padding-left: 35px;
}

.typeText > div > span {
    border-bottom: dotted #fff 1px;
}

.typeText > div.c > div.ic {
    background-image: url("/images/site/ic/cloc.png");
    background-repeat: no-repeat;
    width: 34px;
    height: 27px;
    display: table;
    float: left;
}

.typeText > div.c > div {
    background-position: -8px -6px;
}

.typeText > div.b > div.ic {
    background-image: url("/images/site/ic/block-ht-min.png");
    background-repeat: no-repeat;
    width: 34px;
    height: 27px;
    display: table;
    float: left;
}

.typeText > div.b > div.t-1 {
    background-position: 0px -31px;
}

.typeText > div.b > div.t-2 {
    background-position: -56px -31px;
}

.typeText > div.b > div.t-3 {
    background-position: -120px -33px;
}

.typeText > div.b > div.t-4,  .typeText > div.b > div.t-5 {
    background-position: -173px -33px;
}

.breadcrumbFFF a, .breadcrumbFFF li.active {
    color: #fff;
}
.container-red {
    background: #bc1e2a;
    margin-bottom: 20px;
}

.RecipeBT {
    color: #fff
}

.RecipeBT > .c > div > .textM {
    margin-bottom: 20px;
}
.RecipeBT > .c > div > .nameM {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 0;
    background: none;
}

.rating-recipe {
    background: none;
    height: auto;
    width: auto;
    float: left;
}

.rating-recipe > div {
    padding: 0;
}

.rating-recipe > div > .b {
    color: #1b1b1b;
}

.progress-recipe > div > .l {
    font-size: 18px;
    line-height: 16px;
    height: 17px;
    margin-top: 13px;
    width: 100px;
}

.progress-recipe > div > .l {

}

.progress-recipe > div {
    width: 270px;
}

.recipeM {
    margin-bottom: 20px;
}

.recipeM > .t {
    margin-bottom: 10px;
    text-transform: inherit;
}

.titAllSlid {
    text-transform: uppercase;
    font-weight: 600;
    color: #1b1b1b;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.thumbnail {
    padding: 0;
    border: 0;
    border-radius: 0;
}
/* recipe*/

.cont_album_f {
    padding-left: 10px;
    cursor: pointer;
}
.cont_album .d {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 10px;
    font-weight: 300;
    color: #242424;
    font-size: 12px;
    background: #fff;
    text-transform: uppercase;
    border-bottom-right-radius: 15px;
}
.captions > .magnifier {
    top: 28%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.captions > .t {
    min-height: 85px;
}
.captions > .magnifier > div {
    text-align: center;
    display: table;
    margin: 0 auto;
}
.magnifier {
    opacity: 0;
}
.magnifier:hover{
    opacity: 1;
}
/* advice */
.MaB30 {
    margin-bottom: 30px;
}

.adviceR {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.adviceR > div > div > div .breadcrumb {
    margin-top: 0px!important;
}

.adviceR > div > div > .titF {
    text-align: left;
    margin-bottom: 40px;
}

.content_scr {
    margin-top: 50px;
    min-height: 700px;
}

.pagination {

}
.pagination > li > span,  .pagination > li > a {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 3px;
}
.pagination > li > a {
    padding: 5px 15px;
}
.pagination > li > a, .pagination > li > span {
    color: #8d8d8d;
    border-radius: 3px;
    padding: 5px 15px;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #8d8d8d
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #a1232e;
    border-color: #a1232e;
    padding: 5px 15px;
}
/* advice */

/* meat */
.adviceM {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.adviceM > div > div> div > div .breadcrumb {
    margin-top: 0px!important;
}

.adviceM > div > div > div > .titF {
    text-align: left;
    margin-bottom: 40px;
}
/* meat */

.modal-content {
    border-radius: 0px;
}

.review-form {
    width: 100%;
    padding: 10px 100px;
    background: #eaeaea;
}

.review-form input, .review-form textarea {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 0;
    border: solid 2px #a1232e !important;
    max-width: 100%;
    min-width: 100%;
}

.review-form textarea {
    min-height: 100px;
}

.review-form button, .review-form button:focus {
    border: solid 2px #a1232e !important;
    font-size: 16px;
}

.review-form button:active {
    font-size: 16px;
}

.btn-default {
    background: #ececec;
    text-transform: uppercase;
    border: none;
    padding: 7px 15px;
}

.container {
    /*min-width: 380px;*/
}

.text-mainR > .bm {
    min-height: 400px;
    position: relative
}

.text-right-Mc {
    text-align: right;
}

@media (max-width: 360px) {
    .block-ht > .t > .t {
        font-size: 18px!important;
    }

    .block-ht > .t > .b {
        font-size: 28px!important;
    }

    .block-htT {
        height: 85px!important;
    }

    .block-ht > .b {
        margin-left: 0;
    }

    .block-ht > .b > div {
        margin-right: 2px!important;
    }

    .progress-main > div > .l {
        width: 100%;
    }

    .progress-main > div > .r {
        width: 100%;
    }

    .text-right-Mc {
        text-align: center;
    }

    .mainImD > div {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mainImD .r {
        margin-top: 0px;
    }
}

@media (max-width: 767px) {
    .navbar-default {
        position: relative !important;
    }

    .nav > li > a {
        padding: 18px 10px;
    }

    .topL > .b > li {
        padding-left: 15px;
    }

    .topL > .b > li > button {
        width: 100%;
    }

    .navbar-brand > img {
        display: block;
        height: 50px;
    }

    .navbar-brand {
        height: 50px;
        padding: 5px 15px;
    }

    .navbar-toggle {
        padding: 14px 10px;
    }

    .topL > .b {
        padding-right: 15px;
        padding-top: 0 !important;
    }

    body > .container-fluid {
        margin-bottom: 0 !important;
    }

    .block-ht > .t > .t {
        font-size: 24px;
    }

    .block-ht > .t > .b {
        font-size: 35px;
    }

    .block-htT {
        height: 110px;
        width: 100% !important;
        top: 145px;
    }

    .block-ht {
        top: 145px;
    }

    .block-ht > .t {
        width: 100% !important;
    }

    .block-ht > .b > div {
        margin-right: 10px;
    }

    .header {
        height: 400px;
    }

    .rating-main {
        float: none;
        margin: 0 auto;
    }

    .footM {
        text-align: left;
    }

    .topL > .t {
        padding-top: 0px;
    }

    .text-mainB, .text-mainR, .mainBT, .mainR {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 18px;
    }

    .titB, .titF {
        font-size: 25px;
    }

    .MaB30 {
        margin-bottom: 10px;
    }

    .mainBT > .t {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .nameM {
        font-size: 25px;
    }

    .text-mainB, .text-mainR, .mainBT, .mainR {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .carousel-inner > div {
        font-size: 20px;
    }

    .text-main {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .mainImD > div {
        font-size: 20px;
    }

    .btn-main, .btn-main:focus {
        font-size: 18px;
    }

    ol.red-d li {
        font-size: 18px!important;
        margin-bottom: 10px;
    }

    .shGh {
        display: none;
    }

    .carousel-indicators {
        bottom: 5px;
    }

    .reviewStars-input input:checked ~ label {
        width: 25px;
    }

    .reviewStars-input label {
        width: 25px;
    }

    .reviewStars-input label:hover, .reviewStars-input label:hover ~ label {
        width: 25px;
    }

    .btp-callback, .btp-callback:focus {
        margin-top: 12px;
    }

    .mainB {
        background-image: none!important;
    }

    .rating-main {
        width: 240px;
        height: 240px;
    }

    .rating-main > div > .t {
        font-size: 95px;
        line-height: 96px;
    }

    .rating-main > div > .b {
        font-size: 36px;
        line-height: 36px;
    }

    .imgSL {
        display: none;
    }

    .text-mainR > .bm {
        min-height: inherit;
    }

    .adviceM {
        background-size: 100% 100%!important;
    }

    .text-right-Mc {
        text-align: center;
    }

    .mainImD > div {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mainImD .r {
        margin-top: 0px;
    }

    .nav > li > a {
        font-size: 14px!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav > li > a {
        padding: 18px 8px!important;
        font-size: 14px!important;
    }

    .navbar-default {
        position: relative!important;
    }

    .nav > li > a {
        padding: 18px 10px;
    }

    .navbar-default > .container {
        width: 100%;
    }

    .navbar-brand > img {
        display: block;
        height: 50px;
    }

    .navbar-brand {
        padding: 5px 15px;
        height: 50px;
    }

    .navbar-toggle {
        padding: 14px 10px;
    }

    .topL > .b {
        padding-right: 15px;
        padding-top: 0!important;
    }

    body > .container-fluid {
        margin-bottom: 0!important;
    }

    .block-ht > .t > .t {
        font-size: 24px;
    }

    .block-ht > .t > .b {
        font-size: 40px;
    }

    .block-htT {
        height: 110px;
        top: 210px;
    }

    .header {
        height: 500px;
    }

    .block-ht {
        top: 210px;
    }

    .footM {
        text-align: left;
    }

    .topL > .t {
        padding-top: 0px;
    }
    .btp-callback, .btp-callback:focus {
        margin-top: 12px;
    }

    .mainB {
        background-image: none!important;
    }
}

@media (min-width: 992px) and (max-width: 1210px) {
    .navbar-default {
        /*position: relative!important;*/
    }

    .nav > li > a {
        padding: 43px 10px;
    }

    .block-ht > .t > .t {
        font-size: 35px;
    }

    .block-ht > .t > .b {
        font-size: 56px;
    }

    .block-htT {
        height: 147px;
    }

    .header {
        height: 625px;
    }
}

.titBig {
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    color: #252525;
}