/*
	Skin Name: Text Thumbnail
	Class: text-thumbnail
	Description: Text Thumbnail skin for Advanced Slider jQuery plugin
	Author: David
*/


/* MAIN SLIDE */



.text-thumbnail .slide {
    background-color: #FFF;
}

/* END OF MAIN SLIDE */


/* SLIDE ARROWS */

.text-thumbnail .slide-arrows a {
    background: url(/images/site/arrows.png) no-repeat;
    width: 85px;
    height: 115px;
    top: calc(50% - 84px);
    margin-top: -19px;
}


.text-thumbnail .slide-arrows a.previous {
    left: 0px;
}


.text-thumbnail .slide-arrows a.next {
    right: 0px;
    /*background-position: -38px 0;*/
}

/* END SLIDE ARROWS */


/* SLIDESHOW CONTROLS */

.text-thumbnail .slideshow-controls {
    background: url(images/playpause.png) no-repeat;
    width: 38px;
    height: 38px;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -19px;
}


.text-thumbnail .slideshow-controls.pause {
    background-position: 0 0;
}


.text-thumbnail .slideshow-controls.play {
    background-position: -38px 0;
}

/* END OF SLIDESHOW CONTROLS */


/* TIMER ANIMATION */

.text-thumbnail .timer-animation {
    top: 20px;
    right: 20px;
}

/* END OF TIMER ANIMATION */


/* SLIDE CAPTION */

.text-thumbnail .caption-container .background {
    background-color: #000;
    width: 100%;
    height: 100%;
}


.text-thumbnail .caption-container .caption {
    color: #FFF;
    margin: 0;
    padding: 8px;
    font-size: 16px;
    line-height: 1;
}

/* END OF SLIDE CAPTION */


/* SLIDE BUTTONS/BULLETS */

/* main container of the navigation buttons */
.text-thumbnail .slide-buttons {
    margin-top: 40px;
}


/*
 left, right and middle of the main container
 for this skin, these elements are not styled by default
 feel free to add your own styling
*/
.text-thumbnail .slide-buttons .left,
.text-thumbnail .slide-buttons .right {
}


.text-thumbnail .slide-buttons .left {
}


.text-thumbnail .slide-buttons .middle {
}


.text-thumbnail .slide-buttons .right {
}


/* this contains the buttons */
.text-thumbnail .slide-buttons .buttons-inner {
}


/* this is a button */
.text-thumbnail .slide-buttons .buttons-inner a {
    background: url(images/buttons.png) no-repeat;
    background-position: 0 0;
    width: 14px;
    height: 14px;
    margin: 0 2px;
}


.text-thumbnail .slide-buttons .buttons-inner a.over {
    background-position: -14px 0;
}


.text-thumbnail .slide-buttons .buttons-inner a.select {
    background-position: -28px 0;
}


/* this is used to style the numbers from within the buttons, when they are used */
.text-thumbnail .slide-buttons .buttons-inner a .number {
    margin-top: 2px;
    font-size: 9px;
    line-height: 11px;
    color: #666;
}


.text-thumbnail .slide-buttons .buttons-inner a.over .number {
    font-size: 8px;
    color: #FFF;
}


.text-thumbnail .slide-buttons .buttons-inner a.select .number {
    font-size: 8px;
    color: #FFF;
}


/*
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/
.text-thumbnail .slide-buttons .buttons-inner .thumbnail-wrapper {
    margin-bottom: 10px;
}

/* END OF SLIDE BUTTONS/BULLETS */


/* THUMBNAIL */

.text-thumbnail .thumbnail {
    font-size: 12px;
    color: #666;
    padding: 3px;
}


.text-thumbnail .thumbnail .title {
    padding: 5px;
    font-style: italic;
}


.text-thumbnail .thumbnail .description {
    padding: 5px;
}


.text-thumbnail .thumbnail.over .title,
.text-thumbnail .thumbnail.select .title {
    text-decoration: underline;
}

/* END OF THUMBNAIL */


/* THUMBNAIL SCROLLER */

.text-thumbnail .thumbnail-scroller.horizontal {
    bottom: 0;
    left: 0;
    margin-top: 10px;
}


.text-thumbnail .thumbnail-scroller.horizontal.overlay {
    bottom: 80px;
    margin-top: 0;
}


.text-thumbnail .thumbnail-scroller.vertical {
    right: 0;
    top: 0;
    margin-left: 10px;
}


.text-thumbnail .thumbnail-scroller.vertical.overlay {
    right: 80px;
    margin-left: 0;
}


.text-thumbnail .thumbnail-scroller.horizontal .thumbnail-wrapper {
    margin: 0 5px;
    padding: 0;
}


.text-thumbnail .thumbnail-scroller.vertical .thumbnail-wrapper {
    margin: 5px 0;
    padding: 0;
}


.text-thumbnail  .thumbnail-scroller.horizontal .thumbnail {
    border-top: 4px solid transparent;
}


.text-thumbnail .thumbnail-scroller.horizontal .thumbnail.over,
.text-thumbnail .thumbnail-scroller.horizontal .thumbnail.select {
    background-color: #FFF;
    border-top: 4px solid #D0D0D0;
}


.text-thumbnail  .thumbnail-scroller.vertical .thumbnail {
    border-left: 4px solid transparent;
}


.text-thumbnail .thumbnail-scroller.vertical .thumbnail.over,
.text-thumbnail .thumbnail-scroller.vertical .thumbnail.select {
    background-color: #FFF;
    border-left: 4px solid #D0D0D0;
}



/* THUMBNAIL SCROLLBAR ARROWS */

.text-thumbnail .thumbnail-scroller .arrows a {
    background: url(/images/site/arrows.png) no-repeat;
    width: 38px;
    height: 38px;
}


.text-thumbnail .thumbnail-scroller.vertical .arrows a {
    background: url(images/arrows_v.png) no-repeat;
}


.text-thumbnail .thumbnail-scroller .arrows a.next {
    background-position: -38px 0;
}


.text-thumbnail .thumbnail-scroller.horizontal .arrows a.previous {
    left: 0;
}


.text-thumbnail .thumbnail-scroller.horizontal .arrows a.next {
    right: 0;
}


.text-thumbnail .thumbnail-scroller.vertical .arrows a.previous {
    top: 0;
}


.text-thumbnail .thumbnail-scroller.vertical .arrows a.next {
    bottom: 0;
}

/* END OF THUMBNAIL SCROLLBAR ARROWS */


/* THUMBNAIL SCROLLBAR BUTTONS */

.text-thumbnail .thumbnail-scroller .buttons a {
    background: url(images/buttons_small.png) no-repeat;
    background-position: 0 0;
    width: 10px;
    height: 10px;
    margin: 2px;
}


.text-thumbnail .thumbnail-scroller .buttons a.over {
    background-position: -10px 0;
}


.text-thumbnail .thumbnail-scroller .buttons a.select {
    background-position: -20px 0;
}


.text-thumbnail .thumbnail-scroller.horizontal .buttons {
    margin-top: 0;
}


.text-thumbnail .thumbnail-scroller.vertical .buttons {
    margin-left: 0;
}

/* END OF THUMBNAIL SCROLLBAR BUTTONS */


/* THUMBNAIL SCROLLBAR SCROLLBAR */

.text-thumbnail .thumbnail-scroller.horizontal .scrollbar {
    margin-top: 30px;
}


.text-thumbnail .thumbnail-scroller.vertical .scrollbar {
    margin-left: 30px;
}

/* END OF THUMBNAIL SCROLLBAR SCROLLBAR */

/* END OF THUMBNAIL SCROLLER */


/* TOOLTIP */

.advanced-slider-tooltip {
    background-color: #DDD;
    margin-bottom: 20px;
    border: #EEE solid 4px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}


.advanced-slider-tooltip .content {
    color: #999;
    padding: 10px;
    margin: 0;
}

/* END OF TOOLTIP */















.advanced-slider {
    position: relative;
    overflow: visible;
    outline: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}


.advanced-slider * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}


.advanced-slider.fullscreen {
    max-width: 100% !important;
    max-height: 100% !important;
}


.advanced-slider a {
    position: static;
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
}


.advanced-slider img {
    max-width: none;
    max-height: none;
    border: none;
    padding: 0;
    margin: 0;
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
}


.advanced-slider .slider-main {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.advanced-slider .slide-wrapper {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.advanced-slider .slides {
    position: absolute;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    width: 100%;
    height: 100%;
}


.advanced-slider .slide {
    position: absolute;
    overflow: hidden;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    visibility: hidden;
    list-style: none;
    filter: alpha(opacity=100);
    opacity: 1;
}


.advanced-slider .slide .image,
.advanced-slider .slide .thumbnail,
.advanced-slider .slide .caption,
.advanced-slider .slide .html {
    position: absolute;
}


.advanced-slider .slide .image {
    border: none !important;
    padding: 0 !important;
}


.advanced-slider.webkit .slide .html {
    overflow: hidden;
}


.advanced-slider .video-hidden-image {
    display: none;
}


.advanced-slider iframe.video {
    background-color: #000;
}


.advanced-slider .video-play-button {
    display: block;
    background-image: url(images/video_play.png);
    background-position: center;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}


.advanced-slider.webkit .slide.transition .html iframe,
.advanced-slider.webkit .slide.active .html iframe,
.advanced-slider.webkit .slide.transition .layer.init iframe,
.advanced-slider.webkit .slide.active .layer.init iframe {
    display: block;
}


.advanced-slider.webkit .slide .html iframe,
.advanced-slider.webkit .slide .layer iframe {
    display: none;
}


.advanced-slider iframe {
    display: block;
}


.advanced-slider .slice-container {
    position: absolute;
    width: 100%;
    height: 100%;
}


.advanced-slider .swipeable-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

/*
.advanced-slider .swipeable-container .slides {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.advanced-slider .swipeable-container .slides .selectable {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
	cursor: auto;
}
*/


.advanced-slider .swipeable-container .selectable {
    cursor: default;
}


.advanced-slider .swipeable-container .grab {
    cursor: url(images/openhand.cur), move;
}


.advanced-slider .swipeable-container .grabbing {
    cursor: url(images/closedhand.cur), move;
}


.advanced-slider .thumbnail-scroller .swipe {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.advanced-slider .thumbnail-scroller .grab {
    cursor: url(images/openhand.cur), move;
}


.advanced-slider .thumbnail-scroller .grabbing,
.advanced-slider .thumbnail-scroller .grabbing a:hover,
.advanced-slider .thumbnail-scroller .grabbing a:active,
.advanced-slider .thumbnail-scroller .grabbing .lightbox-icon {
    cursor: url(images/closedhand.cur), move;
}


.advanced-slider .layer {
    position: absolute;
    visibility: hidden;
    padding: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.advanced-slider .layer.black {
    color: #FFF;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}


.advanced-slider .layer.white {
    color: #000;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
}


.advanced-slider .layer.rounded {
    border-radius: 10px;
}


.advanced-slider .slice {
    display: block;
    position: absolute;
}


.advanced-slider .preloader {
    position: absolute;
    background: url(/images/site/preloader2.gif) no-repeat;
    width: 62px;
    height: 14px;
    z-index: 15;
}


.advanced-slider .slide-arrows {
    position: static;
}


.advanced-slider .slide-arrows a {
    position: absolute;
    cursor: pointer;
}


.advanced-slider .lightbox-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    cursor: pointer;
}


.advanced-slider .lightbox-icon.play {
    background-image: url(images/lightbox_play.png);
}


.advanced-slider .lightbox-icon.magnifying {
    background-image: url(images/lightbox_magnifying.png);
}


.advanced-slider .lightbox-icon.hyperlink {
    background-image: url(images/lightbox_hyperlink.png);
}


.advanced-slider .slideshow-controls {
    position: absolute;
    cursor: pointer;
}


.advanced-slider .shadow {
    position: absolute;
    height: 94px;
    margin-top: -50px;
    z-index: 1;
}


.advanced-slider .shadow .shadow-left,
.advanced-slider .shadow .shadow-right,
.advanced-slider .shadow .shadow-middle {
    float: left;
}


.advanced-slider .shadow .shadow-left {
    float: left;
    background: url(images/shadow_left.png);
    width: 200px;
    height: 94px;
}


.advanced-slider .shadow .shadow-right {
    float: left;
    background: url(images/shadow_right.png);
    width: 200px;
    height: 94px;
}


.advanced-slider .shadow .shadow-middle {
    float: left;
    background: url(images/shadow_middle.png) repeat-x;
    height: 94px;
}


.advanced-slider .full-screen-controls {
    background: url(images/fullscreen.png) no-repeat;
    position: absolute;
    width: 31px;
    height: 27px;
    top: 20px;
    left: 20px;
    cursor: pointer;
}


.advanced-slider .timer-animation {
    position: absolute;
}


.advanced-slider canvas {
    position: absolute;
}


.advanced-slider .timer-animation .timer-animation-controls {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}


.advanced-slider .timer-animation .timer-animation-controls {
    background: url(/images/site/playpause_small.png) no-repeat;
}


.advanced-slider .timer-animation.play .timer-animation-controls {
    background-position: -20px 0;
}


.advanced-slider .timer-animation.pause .timer-animation-controls {
    background-position: 0 0;
}


.advanced-slider .caption-container {
    overflow: hidden;
    position: absolute;
}


.advanced-slider .caption-container .wrapper {
    position: absolute;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


.advanced-slider .caption-container .background {
    position: absolute;
    width: 100%;
    height: 100%;
}


.advanced-slider .caption-container .caption {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.advanced-slider .thumbnail-wrapper {
    position: absolute;
}


.advanced-slider .thumbnail {
    background-image: url(images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
}


.advanced-slider .thumbnail-content {
    background: none;
}


.advanced-slider .slide-buttons {
    position: absolute;
    z-index: 3;
}


.advanced-slider .slide-buttons .left,
.advanced-slider .slide-buttons .right,
.advanced-slider .slide-buttons .middle {
    float: left;
}


.advanced-slider .slide-buttons a {
    position: relative;
    cursor: pointer;
    float: left;
    text-decoration: none;
    text-align: center;
}


.advanced-slider .thumbnail-scroller {
    position: absolute;
    z-index: 2;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}


.advanced-slider .thumbnail-scroller .thumbnails-visible-container {
    position: relative;
    overflow: hidden;
}


.advanced-slider .thumbnail-scroller .thumbnails-container {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}


.advanced-slider .thumbnail-scroller .thumbnail-wrapper {
    cursor: pointer;
    list-style: none;
}


.advanced-slider .thumbnail-scroller .lightbox-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    cursor: pointer;
}


.advanced-slider .thumbnail-scroller .lightbox-icon.play {
    background-image: url(images/lightbox_play_small.png);
}


.advanced-slider .thumbnail-scroller .lightbox-icon.magnifying {
    background-image: url(images/lightbox_magnifying_small.png);
}


.advanced-slider .thumbnail-scroller .lightbox-icon.hyperlink {
    background-image: url(images/lightbox_hyperlink_small.png);
}


.advanced-slider .thumbnail .caption {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.advanced-slider .thumbnail .caption .background {
    position: absolute;
    width: 100%;
    height: 100%;
}


.advanced-slider .thumbnail .caption .content {
    position: absolute;
    width: 100%;
}


.advanced-slider .thumbnail-scroller .arrows a {
    position: absolute;
    cursor: pointer;
}


.advanced-slider .thumbnail-scroller .buttons {
    position: absolute;
    width: auto;
}


.advanced-slider .thumbnail-scroller .buttons a {
    position: absolute;
    cursor: pointer;
    text-decoration: none;
}


.advanced-slider-tooltip {
    position: absolute;
    z-index: 9999;
}